@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 33% 8%;
    --card: 0 0% 100%;
    --card-foreground: 240 33% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 33% 8%;
    --primary: 233 100% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 100% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 230 100% 98%;
    --muted-foreground: 240 33% 40%;
    --accent: 230 55% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 230 50% 90%;
    --input: 230 50% 90%;
    --ring: 233 100% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 33% 8%;
    --foreground: 230 100% 98%;
    --card: 240 33% 8%;
    --card-foreground: 230 100% 98%;
    --popover: 240 33% 8%;
    --popover-foreground: 230 100% 98%;
    --primary: 233 100% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 100% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 33% 15%;
    --muted-foreground: 230 50% 70%;
    --accent: 230 55% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 33% 20%;
    --input: 240 33% 20%;
    --ring: 233 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

